.premmerce-filter-ajax-container {
  max-width: 1400px !important;
  padding: 0 20px 30px 20px;
  margin: 0 auto;
  position: relative;
}

.widget_premmerce_filter_filter_widget {
  max-width: 1400px !important;
}

.filter--style-premmerce .filter__item {
  padding: 0;
}

.filter__item-border {
  border: none;
}

.premmerce-filter-body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}

.woocommerce-products-header {
  display: none;
}

.filter--style-custom .filter__title {
  display: block;
  padding: 16px 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.filter--style-premmerce .filter__title {
  color: var(--charcoal);
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.filter--style-custom .filter__item {
  padding: 0;
  margin: 0;
}

.filter__item .filter__title::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/icons/triangle-down.svg") no-repeat center center /
    16px 16px;
}

.filter__inner {
  margin-top: 0;
}

.filter__inner .filter__properties-item {
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter__properties-item .filter__checkgroup-title {
  color: var(--charcoal);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
}

.filter__properties-item .filter__checkgroup-count {
  position: static;
  vertical-align: auto;
  margin-left: 4px;
}

.filter__checkgroup {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.filter__checkgroup-body {
  display: inline-flex;
  padding-left: 40px;
}

.filter__checkgroup-title {
  margin: 0 !important;
}

.filter__checkgroup .filter__checkgroup-check {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
}

.filter__checkgroup .filter__checkgroup-check::before {
  opacity: 0;
  content: "✓";
  background-color: #008934;
  color: white;
  width: 100%;
  height: 100%;
  inset: 0;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 400ms ease;
}

.filter__checkgroup-control[type="checkbox"]:checked
  + .filter__checkgroup-check {
  border-color: #008934;
}

.filter__checkgroup-control[type="checkbox"]:checked
  + .filter__checkgroup-check::before {
  opacity: 1;
}

.filter__properties-list {
  display: none;
}

.filter__properties-list.active {
  display: block;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: none;
  margin: 0;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: none;
  margin: 0;
  position: absolute;
  right: 20px;
  top: -3px;
  width: 170px;
}

.woocommerce .woocommerce-ordering select {
  border: none;
  background-color: transparent;
  padding: 5px 0;
  font-weight: 700;
  color: var(--black);
  font-size: 0.875rem;
  width: 100%;
  cursor: pointer;
}

.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
  display: none;
}

.woocommerce ul.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 40px 0 0 0;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: none;
  margin: 0;
  width: auto;
  overflow: hidden;
}

.woocommerce ul.products[class*="columns-"] li.product,
.woocommerce-page ul.products[class*="columns-"] li.product {
  float: none;
  margin: 0;
  width: auto;
  overflow: hidden;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price {
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--black);
}

.woocommerce .na-product-brand {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: var(--charcoal);
  opacity: 0.7;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  margin-bottom: 8px;
}

.woocommerce ul.products li.product .button {
  display: none;
}

.woocommerce ul.products li.product .onsale {
  display: none;
}

button.filter-products {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  color: var(--black);
  padding: 0;
  border: none;
  cursor: pointer;
}

button.filter-products::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-flex;
  background: url("../images/icons/filter.svg") no-repeat center center / 24px
    24px;
}

.widget_premmerce_filter_filter_widget {
  display: none;
}

.widget_premmerce_filter_filter_widget.show {
  display: block;
}

.woocommerce ul.products li.product a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.product-wc-single.product {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: auto;
  float: none;
  overflow: hidden;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: auto;
  float: none;
}

.summary.entry-summary h1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
  color: var(--black);
}

.summary.entry-summary .price {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--grey);
}

.woocommerce div.product form.cart div.quantity {
  width: 100%;
  float: none;
  margin-bottom: 24px;
}

.summary .quantity input[type="number"] {
  display: block;
  width: 100%;
  max-width: 410px;
  border-radius: 24px;
  background-color: var(--white);
  box-shadow: 22px 22px 68px 0px rgba(0, 0, 0, 0.1),
    88px 87px 124px 0px rgba(0, 0, 0, 0.09);
  padding: 12px 16px;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--charcoal);
  border: none;
}

.product .woocommerce-Price-amount.amount {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42;
  color: var(--charcoal);
}

.woocommerce-product-details__short-description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--charcoal);
  margin-bottom: 16px;
}

.product_meta a {
  color: var(--charcoal);
  text-decoration: underline;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button.alt {
  display: block;
  width: 100%;
  max-width: 410px;
  padding: 14px 32px;
  border-radius: 64px;
  background-color: var(--green);
  box-shadow: 22px 22px 68px 0px rgba(0, 0, 0, 0.08),
    44px 44px 64px 0px rgba(0, 0, 0, 0.04);
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--white);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button.alt:hover {
  color: var(--green);
  background-color: var(--white);
}

.woocommerce div.product div.images .woocommerce-product-gallery__image a {
  display: block;
  width: 100%;
}

.woocommerce div.product .woocommerce-tabs,
.related.products {
  grid-column-start: 1;
  grid-column-end: 3;
}

.woocommerce-Tabs-panel h2 {
  font-size: 1.75rem;
  margin-bottom: 8px;
  color: var(--charcoal);
}

.woocommerce-tabs .drawer {
  border: none;
  border-bottom: 2px solid var(--light-grey);
}

.woocommerce-tabs .accordion-item {
  border: none;
}

.woocommerce-tabs .accordion-header {
  padding: 24px 0;
  background-color: transparent;
  border: none;
  position: relative;
}

.woocommerce-tabs .accordion-header h1 {
  color: var(--dark-grey);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  float: none;
}

.woocommerce-tabs .accordion-header.accordion-header-active h1 {
  color: var(--black);
}

.woocommerce-tabs .accordion-header-icon {
  display: none;
}

.woocommerce-tabs .accordion-header::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--charcoal);
  background: url("../images/icons/chevron-right.svg") no-repeat center center /
    16px 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  transition: transform 300ms ease;
}

.woocommerce-tabs .accordion-header.accordion-header-active::after {
  transform: translateY(-50%) rotate(270deg);
}

.woocommerce-tabs .accordion-content {
  border: none;
  padding: 0.5rem 0;
}

.woocommerce-tabs .accordion-content h2 {
  display: none;
}

.woocommerce-tabs .accordion-content p {
  line-height: 1.5;
}

.woocommerce p.stars a::before {
  color: var(--green);
}

.woocommerce p.stars:hover a::before {
  color: var(--green);
}

.woocommerce-tabs
  .accordion-content
  :is(textarea, input[type="text"], input[type="email"]) {
  display: block;
  padding: 1rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.woocommerce-tabs .accordion-content .form-submit input[type="submit"] {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 14px 32px !important;
  border-radius: 64px !important;
  background-color: var(--green) !important;
  box-shadow: 22px 22px 68px 0px rgba(0, 0, 0, 0.08),
    44px 44px 64px 0px rgba(0, 0, 0, 0.04);
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--white) !important;
  border: 1px solid var(--green) !important;
  transition: background-color 300ms ease, color 300ms ease;
}

.woocommerce-tabs .accordion-content .form-submit input[type="submit"]:hover {
  background-color: var(--white) !important;
  color: var(--green) !important;
}

.wcf-shop-wrapper .wcf-horizontal-popover {
  height: auto;
  font-size: 1rem;
  line-height: 1.5;
}

.woocommerce .na-wc-learn-more {
  display: inline-flex;
  color: var(--green);
  text-decoration: underline;
  margin-bottom: 1rem;
}

.woocommerce-tabs.wc-tabs-wrapper {
  max-width: 1060px;
  padding: 100px 20px;
  margin: 0 auto;
}

.collection-banner + .wcf-shop-wrapper {
  padding: 70px 0;
}

.wp-block-woocommerce-cart {
  max-width: 1400px;
  padding: 15px 20px 0;
  margin: 0 auto;
}

.woocommerce-cart .wp-block-heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.woocommerce-cart .wc-block-grid__product-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--black);
  margin-bottom: 8px;
}

.woocommerce-cart .woocommerce-Price-amount {
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: var(--black);
}

.woocommerce-cart .wp-block-button__link {
  background-color: var(--green);
}

.page-header {
  max-width: 1400px;
  padding: 30px 20px;
  margin: 0 auto;
}

.page-template-template-general-content .page-header {
  text-align: center;
}

.page-header {
  max-width: 1400px;
  padding: 30px 20px;
  margin: 0 auto;
}

.page-my-account-data .woocommerce {
  max-width: 1400px;
  padding: 15px 20px;
  margin: 0 auto;
}

.page-my-account-data .woocommerce a {
  color: var(--green);
  text-decoration: underline;
}

.woocommerce-MyAccount-navigation {
  padding: 0.5rem;
  background-color: rgba(0, 137, 52, 0.8);
  border-radius: 10px;;
}

.woocommerce-MyAccount-navigation-link {
  padding: 0.5rem 0;
  color: var(--white);
  margin-bottom: 0;
}

.woocommerce-MyAccount-navigation-link a {
  color: var(--white) !important;
  text-decoration: none !important;
}

.woocommerce-MyAccount-navigation-link a:hover {
  text-decoration: underline !important;
}

.woocommerce-form-login input:is([type="text"], [type="password"]) {
  width: 100%;
  display: block;
  padding: 0.75rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
}

.woocommerce-EditAccountForm.edit-account
  input:is([type="text"], [type="password"], [type="email"]) {
  width: 100%;
  display: block;
  padding: 0.75rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
}

.woocommerce form.woocommerce-form-login.login {
  max-width: 700px;
}

.woocommerce-LostPassword.lost_password a {
  text-decoration: underline;
  color: var(--green);
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce-EditAccountForm.edit-account .woocommerce-Button.button {
  border-radius: 16px;
  background-color: var(--green) !important;
  color: var(--white) !important;
}

/* article[class^="post"] {
  max-width: 1400px;
  padding: 30px 20px;
  margin: 0 auto;
}

article[class^="post"] h2 {
  font-size: 1.5rem;
}

article[class^="post"] h2 a {
  color: var(--charcoal);
  text-decoration: none;
}

article[class^="post"] a {
  color: var(--green);
  text-decoration: underline;
} */

.taxonomy-category_filter-puzzles-data .wcf-shop-wrapper {
  margin-top: 2rem;
}

.taxonomy-category_filter-puzzles-data .wcf-shop-wrapper .container {
  position: relative;
}

.taxonomy-category_filter-puzzles-data .products {
  max-width: 1000px;
}

.taxonomy-category_filter-puzzles-data .sidebar-filters {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  width: calc(16% - 0.5rem);
  padding: 0.5rem;
}

.wc-block-cart-items__row .wc-block-components-product-name {
  display: block;
  color: var(--charcoal);
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.wc-block-cart-items__row .wc-block-cart-item__remove-link {
  color: var(--red) !important;
  text-decoration: underline !important;
}

.wc-block-cart-items__row .wc-block-cart-item__remove-link:hover {
  text-decoration: underline !important;
}

.wc-block-components-totals-coupon .wc-block-components-totals-coupon-link,
.wc-block-components-totals-shipping .wc-block-components-totals-shipping__change-address__link {
  color: var(--green);
}

.wc-block-components-totals-coupon .wc-block-components-totals-coupon-link:hover,
.wc-block-components-totals-shipping .wc-block-components-totals-shipping__change-address__link:hover {
  color: var(--green);
  text-decoration: underline;
}

.wc-block-cart__submit {
  margin-top: 1rem !important;
}

.wc-block-cart__submit .wc-block-cart__submit-button,
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button {
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  border-radius: 64px;
  padding: 16px 32px;
  transition: color 300ms ease, background-color 300ms ease,
    border-color 300ms ease !important;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  cursor: pointer;
  background: var(--green);
  color: var(--white);
  min-height: auto;
}

.wc-block-cart__submit .wc-block-cart__submit-button:hover,
.wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button:hover {
  background-color: var(--white);
  color: var(--green);
  border: 1px solid var(--green)
}

.wp-block-woocommerce-checkout {
  padding: 40px 1rem;
  max-width: 1400px;
  margin: 0 auto !important;
}

@media screen and (min-width: 600px) {
  .premmerce-filter-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .woocommerce ul.products {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 30px;
  }

  button.filter-products {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 768px) {
  .product-wc-single.product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .premmerce-filter-body {
    grid-template-columns: repeat(4, 1fr);
  }

  .filter__item .filter__title::after {
    display: none;
  }

  .filter__properties-list {
    display: block !important;
  }

  .product-wc-single.product {
    gap: 40px 70px;
  }

  .summary.entry-summary h1 {
    font-size: 1.5rem;
  }

  .woocommerce-tabs.wc-tabs-wrapper {
    padding: 140px 20px 114px 20px;
  }

  .taxonomy-category_filter-puzzles-data .sidebar-filters {
    display: block;
  }
}
